@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

::selection {
  background: #f97316;
  color: #2b2b2b;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img,
svg,
video,
canvas {
  max-width: 100%;
}
